.nextui-c-lfcDHB{
    padding: 4px 4px 4px 8px;
}

.item-icon:hover{
    cursor: pointer;
}

.nextui-c-fMAxGR{
    padding-bottom: 8px;
}

.collapse-buttons{
    height: max-content !important;
    width: max-content !important;
    padding: 6px !important;
}

.avatar {
    border-radius: 4px !important;
}