.nextui-c-STltJ {
  padding: 0px;
}

.haAclf {
  background-color: #0c0c0c !important;
}

iframe {
  color-scheme: dark;
}

#GoogleButton {
  background: none !important; /* Remove the background */
}

.css-9emuhu-MuiPaper-root-MuiDrawer-paper{
    border-radius: 16px !important;
}

/* .outlined-text-dark {
    font-size: 12px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    color: transparent;
}

.outlined-text-light {
    font-size: 12px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: white;
    color: transparent;
} */

