.nextui-c-STltJ{
    padding: 0px
}

.haAclf{
    background-color: #0c0c0c !important;
}

iframe{
    color-scheme: dark;
}

#GoogleButton {
    background: none !important; /* Remove the background */
  }
  